@import "tailwindcss";
@import "tw-animate-css";

html {
	min-height: 100vh;
	font-family: "Poppins";
	background-color: #dae1e9;
	color: white;
}

#Screen {
	-webkit-mask-image: url(assets/images/backgrounds/screen.svg);
	mask-image: url(assets/images/backgrounds/screen.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center top;
	mask-position: center top;
	-webkit-mask-mode: alpha;
	mask-mode: alpha;
}
